@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color:rgb(231, 228, 228);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
header{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}
.logo{
 width: 20%;
 float: left;
}
.menu{
    width: 50%;
    float: right;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
 float: left;
}
.menu ul li a{
 color:#626262;
 text-decoration: none;
 font-size:20px;
 margin-left:70px;
 text-transform: uppercase;
}
.banner{
    width: 95%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.content span{
font-size: 22px;
color:#cca756 ;
text-transform: uppercase;
margin-bottom: 22px;
display:block;
}
.content h1{
    color:#626262 ;
    font-size:55px;
    margin-bottom: 30px;
}
.content p{
    color:#626262 ;
    line-height: 1.8;
    margin-bottom: 25px;
    font-size:21px;
}