@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,600,600i,700,700i,800,800i&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
/*font-family: 'Playfair Display', serif;*/
header{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    
}
.logo{
    width: 20%;
    float: left;

}
.menu{
    width: 50%;
    float: right;

}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    color: #666666;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    text-transform: uppercase;
    
}
.banner{
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.banner img{
    width: 100%;

}
.content{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.content span{
    font-size: 15px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}
.content h1{
    color: #626262;
    font-size: 40px;
    margin-bottom: 25px;
}
.content p{
    color: #626262;
    line-height: 1.4;
    margin-bottom: 15px;
}
.minimo_one{
	width: 50%;
	float: left;
}
.minimo_one img{
	width: 100%;
	margin-bottom: 30px;
}
.minimo_two{
	width:45%;
	float: right;
}
.minimo_two img{
	width: 100%;
	margin-bottom: 30px;
}
.minimo_three{
	width: 50%;
	float: left;
}
.minimo_three img{
	width: 100%;
	margin-bottom: 30px;
}
.minimo_four{
	width:45%;
	float: right;
}
.minimo_four img{
	width: 100%;
	margin-bottom: 30px;
}