*{
    margin: 0;
    padding: 0;
}
header{
background: #5CBBFF;
height: 80px;
}
nav{
    text-align: center;
}
nav ul{
list-style: none;
overflow: hidden;
text-align: center;
display: inline-block;
padding-top: 25px;

}
nav ul li{

float: left;
}
nav ul li a{
    
text-decoration: none;
font-size: 16px;
    
margin: 10px;
    
text-transform: uppercase;
padding: 5px;
}
nav ul li a:hover{
color: #fff;
background-color:#0092FF ;
}
nav ul li a img{
    width: 100px;
}
.content{
height: 650px;
}
.imge{

width: 40%;

float: left;

height: 100%;

background: #5CBBFF;
}
.imge img{

width: 80%;
padding-left: 50px;
}
.form{

width: 60%;

background: #0092FF;

float: right;

height: 100%;
position: relative;
}
.contact-form{
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;


}
.contact-form h4{
color: #fff;
font-size: 28px;
padding-bottom: 10px;
}
.contact-form h5{
    color: #fff;
    font-size: 22px;
    padding-bottom: 10px;
}
.contact-form p{
    color: #fff;
    padding-bottom: 11px;
    font-size: 16px;

}
.contact-form input{
width: 100%;
height: 30px;
margin-bottom: 8px;
}
.contact-form form{
    
}
.himu{
    width: 25%;
    color: #0092FF;
}
.social_follow{
    width: 40%;
    float: right;
    position: absolute;
   bottom: 18%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.social_follow ul{
    list-style: none;
    float: right;
}
.social_follow li{
    float: left;
}
.social_follow ul li a{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

